@import url("https://fonts.googleapis.com/css?family=Montserrat&display=swap");

html {
  box-sizing: border-box;
  font-size: 62.5%;
}

* {
  max-width: 100%;
  padding: 0;
  margin: 0;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

h2 {
  font-size: clamp(2rem, 2vw, 3rem);
}

body {
  width: 100%;
  height: 100%;
  background-image: url("../assets/images/car.png");
  background-repeat: no-repeat;
  background-size: cover;
  overflow: hidden;
  font-family: 'Montserrat';
}

header {
  display: flex;
  position: relative;
  background: rgba(0, 0, 0, 0.6);
  backdrop-filter: blur(10px);
  border-top: 1px solid rgba(255, 255, 255, 0.2);
  border-right: 1px solid rgba(255, 255, 255, 0.2);
  border-bottom: 1px solid transparent;
  border-left: 1px solid transparent;
  box-shadow: 5px 5px 30px rgba(0, 0, 0, 0.2);
}

nav {
  display: flex;
  justify-content: center;
  width: 100%;
}


main {
    text-align: center;
    position: relative;
}

footer {
  position: fixed;
  bottom: 0;
  left: 0;
}

footer h3 {
  color: white;
  font-size: 2rem;
  font-weight: 900;
}

footer p {
  color: white;
  font-size: 1.6rem;
}

.corporate-info-cont {
  text-align: center;
  padding-bottom: 4rem;
}

img {
    max-width: 100%;
}

ul,
li {
    list-style-type: none;
    padding: 0;
    margin: 0;
}

a {
    text-decoration: none;
}

.page-title-cont {
  display: flex;
  height: 100vh;
  width: 100%;
  justify-content: center;
  align-items: center;
  padding-bottom: 20rem;
}


.logo-cont h2 {
  color: rgb(29, 118, 153);
  text-shadow: 2px 2px 2px white, -2px 2px 2px white, 2px -2px 2px white,
    1px 2px 2px white, 2px 1px 2px white, -1px 2px 2px white, 2px -1px 2px white,
    1px -2px 2px white, -2px 1px 2px white, -1px -2px 2px white,
    -2px -1px 2px white, 1px 1px 2px white, -1px -1px 2px white,
    -1px 1px 2px white, 1px -1px 2px white, 0px 2px 2px white, 2px 0px 2px white,
    -2px 0px 2px white, 0px -2px 2px white, 0px 1px 2px white, 1px 0px 2px white,
    0px -1px 2px white, -1px 0px 2px white, 0px 0px 2px white;
    font-weight: 900;

}

.logo {
  width: 23vw;
  height: auto;
}

#page-cont {
    position: absolute;
    inset: 0;
    background-color: rgba(0, 60, 255, 0.5);
}

.logo-cont {
    position: absolute;
    top: 2rem;
    left: 2rem;
}

.nav-cont {
    display: flex;
    padding: 5rem 0 1rem 0;
    width: 100%;
    justify-content: center;
    align-items: center;

}
.nav-list {
  display: flex;
  width: 100%;
  justify-content: space-evenly;
  font-weight: 900;
  /* align-items: flex-start; */
}

.nav-item {
    color: white;
  display: flex;
  font-size: clamp(1.6rem, 1.75vw, 2.8rem);
}

.nav-item:hover {
    cursor: pointer;
    text-shadow: 2px 2px 2px rgb(252, 215, 0), -2px 2px 2px rgb(252, 215, 0), 2px -2px 2px rgb(252, 215, 0),
    1px 2px 2px rgb(252, 215, 0), 2px 1px 2px rgb(252, 215, 0), -1px 2px 2px rgb(252, 215, 0), 2px -1px 2px rgb(252, 215, 0),
    1px -2px 2px rgb(252, 215, 0), -2px 1px 2px rgb(252, 215, 0), -1px -2px 2px rgb(252, 215, 0),
    -2px -1px 2px rgb(252, 215, 0), 1px 1px 2px rgb(252, 215, 0), -1px -1px 2px rgb(252, 215, 0),
    -1px 1px 2px rgb(252, 215, 0), 1px -1px 2px rgb(252, 215, 0), 0px 2px 2px rgb(252, 215, 0), 2px 0px 2px rgb(252, 215, 0),
    -2px 0px 2px rgb(252, 215, 0), 0px -2px 2px rgb(252, 215, 0), 0px 1px 2px rgb(252, 215, 0), 1px 0px 2px rgb(252, 215, 0),
    0px -1px 2px rgb(252, 215, 0), -1px 0px 2px rgb(252, 215, 0), 0px 0px 2px rgb(252, 215, 0);
    color: rgb(27, 151, 253);
    
}

.active {
  text-shadow: 2px 2px 2px rgb(252, 215, 0), -2px 2px 2px rgb(252, 215, 0), 2px -2px 2px rgb(252, 215, 0),
    1px 2px 2px rgb(252, 215, 0), 2px 1px 2px rgb(252, 215, 0), -1px 2px 2px rgb(252, 215, 0), 2px -1px 2px rgb(252, 215, 0),
    1px -2px 2px rgb(252, 215, 0), -2px 1px 2px rgb(252, 215, 0), -1px -2px 2px rgb(252, 215, 0),
    -2px -1px 2px rgb(252, 215, 0), 1px 1px 2px rgb(252, 215, 0), -1px -1px 2px rgb(252, 215, 0),
    -1px 1px 2px rgb(252, 215, 0), 1px -1px 2px rgb(252, 215, 0), 0px 2px 2px rgb(252, 215, 0), 2px 0px 2px rgb(252, 215, 0),
    -2px 0px 2px rgb(252, 215, 0), 0px -2px 2px rgb(252, 215, 0), 0px 1px 2px rgb(252, 215, 0), 1px 0px 2px rgb(252, 215, 0),
    0px -1px 2px rgb(252, 215, 0), -1px 0px 2px rgb(252, 215, 0), 0px 0px 2px rgb(252, 215, 0);
    color: rgb(27, 151, 253);
}

.bbb-logo-cont {
  background-color: #fff;
  height: 4rem;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 10.2rem;
  border-radius: 0.6rem;
}

.bbb-logo {
  width: 10rem;
  height: auto;
}

.credit-card-icons-cont {
  display: flex;
}

.credit-card-icon {
  font-size: 4rem;
  padding: 1rem;
  color: rgb(252, 215, 0);
}

.special-icons-cont {
  width: 25%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-left: auto;
  padding-top: 2rem;
}